.label{
  color:rgb(118, 117, 117);
  font-weight:450;
}
.submit{
  height: 50px;
  width: 150px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Edit{
  height: 50px;
  width: 150px;
}
.text{
  color: black;
  font-weight: 600;
}
.bg1{
  background-color: white;
}
.country{
  width: 96%;
}

.box{
  background-color: black;
  color: white;
}

.sidebar{
  background-color: white;
 
}

.home{
  border: 0;
  font-weight:600;
  float: right;
  color: gray;
}

.userphoto{
  float: right;
}
.icon{
  width: 30px;
  height: 25px;
}
.skills{
  margin-top:-160px;
}
.about{
  margin-top:-100px;
}
.unicode{
  float: right;
}
.personal{
  background-color: white;
}
.bg3{
  background-color: whitesmoke;
  
}
.drop{
  margin-left:-58px;
}
.background
{
 background-image: url("../image/back.jpg");
  background-position: center !important;
  background-size: cover !important;
  height: 100vh !important;
  width: 100vw !important; 
  overflow: hidden;
}
.empolyee{
  color: white;
  
}
.loginbox{
  background-color:rgb(249, 249, 249);
  border-radius: 10px;

}
.label1{
  text-decoration: none;
  color: black;
}
.btn1{
  height: 50px;
  width:100%;
}
.text2{
  text-decoration: none;
  color: red;
  font-weight: 450;
  font-size:medium;
}
.cname{
  color: white;
  font-weight: 500;
  font-size: medium;
}
.logoimg2{
  margin-top: 30px;
}
.red{
  color: red;
}
.companyname{
  color:black ;
  font-weight: 500;
  font-size: medium;
} 
.text3{
  color: white;
  font-size:xx-large;
  font-weight:600;
}
.text4{
  margin-top: 190px;
}
.hr{
  color: white;
  margin-left: 46%;
  border-top: 3px solid gray;
}
h5.label{
  background-color: whitesmoke;
  color:rgb(118, 117, 117); ;
}
.table1{
  height: 100vh;
}
div.page1{
  background-color: whitesmoke;
}
.box7{
  background-color: white;
}
.vr{
  border: 1px solid gray;
  vertical-align: baseline !important;
}
.i{
  vertical-align: baseline !important;
}
.i.unicode:hover{
  color: red;
  
}
.label2,.unicode{
  color: gray;
  font-weight: 450;
}
.hr2{
  margin-left: 30px;
  margin-right: 81px;
}
.tabel{
  background-color: white;
  border-radius: 10px;

}
td.name{
  color: blue;
}
.table-active{
  border-radius: 10px;
}
th{
  color: grey !important;
  font-weight: 350;
}
.i.add:hover{
  color: red;
}
.bg4{
  background-color:white;
  border-radius: 10px;
 
}
.tablebox td{
  background-color: rgb(237, 238, 240);
  opacity: 1;
  transform: none;
  border-bottom: 1px solid #dbd8d8  ;
  border-top:1px solid #dbd8d8 ;

}
tr td:first-child{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-left:1px solid #dbd8d8 ;
}
tr td:last-child{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid #dbd8d8;

}
.table-spacing {
  border-collapse: initial;
  border-spacing: 0 5px;
}
.add{
  color:blue;
}
.i{
  color: red;
}
.sidebar1{
  background-color:white ;
  height: 100vh;
}
.page{
  float: inline-end;
}
.image{
  width: 190px;
  height: 200px;
  background-position-x: -284px;
  background-position-y: -73px;
  border-radius: 150px;
  margin-left: 10px;
}
.home1{
  color: red;
  border: 0;
  font-weight:600;
  float: right;
 
}