.label{
  color:rgb(118, 117, 117);
  font-weight:450;
}
.submit{
  height: 50px;
  width: 150px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Edit{
  height: 50px;
  width: 150px;
}
.box{
  margin-left: 4px;
  margin-right: -190px;
}
.text{
  color: black;
  font-weight: 600;
}
.bg1{
  background-color: white;
}
.country{
  width: 96%;
}
.image{
  background-image: url(./Image/Photo1.jpg);
  width: 190px;
  height: 200px;
  background-position-x: -284px;
  background-position-y: -73px;
  border-radius: 150px;
  margin-left: 10px;
}

.img{
  width: 3%;
  margin-left: 1%;
} 

.box{
  background-color: black;
  color: white;
}

.sidebar{
  background-color: white;
}

.home{
  border: 0;
  font-weight:600;
  float: right;
  color: gray;
}
.home:hover{
  color:red;;
}
.userphoto{
  float: right;
}
.icon{
  width: 30px;
  height: 25px;
}
.skills{
  margin-top:-160px;
}
.about{
  margin-top:-100px;
}
.unicode{
  float: right;
}
.personal{
  background-color: white;
}
.bg3{
  background-color: whitesmoke;
}
.drop{
  margin-left:-58px;
}
.background
{
 background-image: url(./Image/back.jpg);
  background-position: center !important;
  background-size: cover !important;
  height: 100vh !important;
  width: 100vw !important; 
  overflow: hidden;
}
.empolyee{
  color: white;
  
}
.loginbox{
  background-color:rgb(249, 249, 249);
  border-radius: 10px;

}
.label1{
  text-decoration: none;
  color: black;
}
.btn1{
  height: 50px;
  width:100%;
}
.text2{
  text-decoration: none;
  color: red;
  font-weight: 450;
  font-size:medium;
}
.cname{
  color: white;
  font-weight: 500;
  font-size: medium;
}
.logoimg2{
  margin-top: 30px;
}
.red{
  color: red;
}
.companyname{
  color:black ;
  font-weight: 500;
  font-size: medium;
}
.text3{
  color: white;
  font-size:xx-large;
  font-weight:600;
}
.text4{
  margin-top: 190px;
}
.hr{
  color: white;
  margin-left: 46%;
  border-top: 2px solid gray;
}